body {
  background-color: beige;
}

img {
  max-width: 300px;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.beast {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgb(139, 125, 99);
  padding: 0 30px 30px 30px;
  margin-bottom: 50px;
}

.beast h2 {
  text-align: center;
}

footer {
  text-align: center;
  margin: 50px 0;
}